.logo-square {
  width: 140rem;
  height: 140rem;

  background-image: url(../../assets/images/logo-square.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
