@import '../core/Variables.scss';
@import '../core/Global.scss';

.p1s3-card {
  width: 100%;

  @include flexCenteredColum;
  &__img--circle-001 {
    width: 200rem;
    height: 200rem;

    @include flexCenteredColum;

    background-color: $col--neutrals-soft-gray-20;
    border-radius: 50%;
  }

  &__img--circle-002 {
    width: 170rem;
    height: 170rem;

    background-color: $col--neutrals-soft-gray-80;
    border-radius: 50%;

    @include flexCenteredColum;
  }

  &__img--img {
    width: 145rem;
    height: 145rem;
  }

  &__img--img-0 {
    background: url(../../assets/images/photos/photo-000.png) no-repeat center
      center / cover;
  }

  &__img--img-1 {
    background: url(../../assets/images/photos/photo-001.png) no-repeat center
      center / cover;
  }

  &__img--img-2 {
    background: url(../../assets/images/photos/photo-002.png) no-repeat center
      center / cover;
  }

  &__img--img-3 {
    background: url(../../assets/images/photos/photo-003.png) no-repeat center
      center / cover;
  }

  &__img--img-4 {
    background: url(../../assets/images/photos/photo-004.png) no-repeat center
      center / cover;
  }

  @media (min-width: $break-point-tablet) {
  }
  @media (min-width: $break-point-desktop) {
  }
}
