@import '../core/Variables.scss';
@import '../core/Global.scss';

.p0s5 {
  width: 100%;

  @include flexCenteredRow;

  &__grid {
    width: 100%;
    padding: 32rem 16rem;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 32rem;

    &--text {
      width: 100%;
      padding: 40rem 16rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20rem;

      background-color: $col-white;
      border-radius: 8rem;

      & ul {
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        gap: 20rem;

        & .list-li-img {
          padding-left: 32rem;
          background-image: url(../../assets/icons/check-list.svg);
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 16px 16px;
          list-style-type: none;
        }
      }

      @media (min-width: $break-point-tablet) {
        align-items: flex-start;
      }
    }

    &--img {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: $break-point-tablet) {
      }
    }

    @media (min-width: $break-point-tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    @media (min-width: $break-point-desktop) {
      grid-template-columns: 45% 55%;
    }
  }
}
