@import '../core/Variables.scss';
@import '../core/Global.scss';

.p1s4 {
  width: 100%;
  padding: 40rem 32rem;

  @include flexCenteredColum;

  background-color: $col--neutrals-softest-background;

  &__little-container {
    @include flexCenteredColum();
    gap: 20rem;

    @media (min-width: $break-point-desktop) {
      width: 68%;
    }
  }

  &__logos {
    width: 100%;
    padding: 40rem 24rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40rem;
    flex-wrap: wrap;
  }
}
