@import '../core/Variables.scss';
@import '../core/Global.scss';

.page {
  width: 100%;
  margin-top: $nav-height-mobile;

  @include flexCenteredColum();

  // background-color: antiquewhite;

  @media (min-width: $break-point-desktop) {
    margin-top: $nav-height-tablet-desktop;
  }
}
