@import '../core/Variables.scss';

.parallax-container {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;

  // border: 1rem solid black;

  @media (min-width: $break-point-desktop) {
    width: 80%;
    padding-bottom: 80%;
  }
}

.layer {
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.2s ease;
  background-position: center center;
}

.layer1 {
  background-size: 95%;
  z-index: 1;
}

.layer2 {
  z-index: 3;
}

.layer3 {
  z-index: 3;
}

.layer4 {
  z-index: 4;
}

.layer5 {
  z-index: 5;
}
